.playlists-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

/* Playlist display styling */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 600px;
}

li {
    background-color: white;
    margin: 0.5rem auto;
    padding: 0.8rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 1.1rem;
    text-align: left;
}

.playlist-header {
    font-size: 2.5rem; /* Larger text size */
    font-weight: bold;
    color: #ffffff; /* White text */
    text-transform: capitalize; /* Capitalize the text */
    margin: 20px 0; /* Add spacing */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Subtle shadow */
    text-align: center;
}

.back-button {
    background-color: #00ff66;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.back-button:hover {
    background-color: #e63900;
}

.port-button {
    margin-top: 8px;
    /*margin-left: 5px;*/
    padding: 8px 12px;
    background-color: #1db954; /* Spotify green */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.port-button:hover {
    background-color: #1aa34a;
}

.playlist-title {
    font-weight: bold;
    cursor: pointer;
}

.songs-list {
    margin-left: 20px;
    list-style: none;
    padding: 0;
}

/* Example styles */
.song-title {
    font-weight: bold;
    color: #333;
}

.song-artist {
    font-style: italic;
    color: #666;
}